# Express
PORT=3001
# If you want to restrict CORS (dev), put your Vite URL here (example):
# CLIENT_ORIGIN=http://localhost:5173
CLIENT_ORIGIN=

# SQL Server connection
SQL_SERVER=localhost
SQL_PORT=1433
SQL_DATABASE=Portones
SQL_USER=sa
SQL_PASSWORD=your_password

# If you use a named instance, uncomment:
# SQL_INSTANCE_NAME=SQLEXPRESS

# Security options
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERT=true

# PDF
COMPANY_NAME=PORTONES

# PDF - Datos de cabecera (opcional, por defecto replica el ejemplo)
COMPANY_LEGAL_NAME=DFLEX ARGENTINA SAS
COMPANY_ADDR1=Ruta Nacional 9 Km. 658
COMPANY_ADDR2=Pilar - Cordoba
COMPANY_IVA=IVA Responsable Inscripto
COMPANY_CUIT=33-71608175-9
COMPANY_IIBB=284463706
COMPANY_START_DATE=01/09/2018

# If you build the React client and want Express to serve it:
SERVE_CLIENT=false
